@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-image: url('/src/assets/BG/Blossom2.jpg');
        background-size: cover;   }

.animated-background {
    background: linear-gradient(
        to right, 
        rgb(254, 121, 0), 
        rgb(34, 21, 0), 
        rgb(255, 167, 0),
        rgb(255, 133, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0), 
        rgb(255, 160, 0), 
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(254, 121, 0),
        rgb(254, 121, 0), 
        rgb(34, 21, 0), 
        rgb(255, 167, 0),
        rgb(255, 133, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0), 
        rgb(255, 160, 0), 
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(327, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(254, 121, 0)
        );
    

    background-size: 300% 300%;
}

.animated-background2 {
    background: linear-gradient(
        to right, 
        rgb(254, 121, 0), 
        rgb(34, 21, 0), 
        rgb(255, 167, 0),
        rgb(255, 133, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0), 
        rgb(255, 160, 0), 
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(254, 121, 0),
        rgb(254, 121, 0), 
        rgb(34, 21, 0), 
        rgb(255, 167, 0),
        rgb(255, 133, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0), 
        rgb(255, 160, 0), 
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(255, 167, 0),
        rgb(255, 133, 0), 
        rgb(255, 160, 0), 
        rgb(27, 2, 0),
        rgb(140, 63, 0),
        rgb(254, 121, 0)
        );
    

    background-size: 300% 300%;

}



