@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-image: url('/src/assets/BG/Blossom2.jpg');
        background-size: cover;   }

.animated-background {
    background: linear-gradient(
        to right, 
        rgb(29, 10, 73), 
        rgb(22, 22, 65), 
        rgb(17, 27, 112),
        rgb(9, 38, 94),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65), 
        rgb(48, 7, 143), 
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(29, 10, 73),
        rgb(29, 10, 73), 
        rgb(22, 22, 65), 
        rgb(17, 27, 112),
        rgb(9, 38, 94),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65), 
        rgb(48, 7, 143), 
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(29, 10, 73)
        );
    

    background-size: 300% 300%;
}

.animated-background2 {
    background: linear-gradient(
        to right, 
        rgb(29, 10, 73), 
        rgb(22, 22, 65), 
        rgb(17, 27, 112),
        rgb(9, 38, 94),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65), 
        rgb(48, 7, 143), 
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(29, 10, 73),
        rgb(29, 10, 73), 
        rgb(22, 22, 65), 
        rgb(17, 27, 112),
        rgb(9, 38, 94),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65), 
        rgb(48, 7, 143), 
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(17, 27, 112),
        rgb(9, 38, 94), 
        rgb(48, 7, 143), 
        rgb(32, 3, 65),
        rgb(47, 4, 78),
        rgb(29, 10, 73)
        );
    

    background-size: 300% 300%;

}



